/*reset css*/
html {
    background: none repeat scroll 0 0 #f1f1f1;
    -ms-touch-action: manipulation; /* IE10  */
    touch-action: manipulation; 
}
html,body{
    width: 100%;/*height: 100%; */
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;padding: 0;
}
input,button,select,textarea{
    outline:none
}
body, button, input, select, textarea {
    color: #333;
    font: 12px/1.5 "PingFang-SC-Regular",'Hiragino Sans GB','Microsoft Yahei','PingFang SC','Myriad Pro','Microsoft Yahei',sans-serif;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
select{
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }
fieldset, img {
    border: 0 none;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
li {
    list-style: none outside none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after {
    content: "";
}
abbr, acronym {
    border: 0 none;
    font-variant: normal;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
select, input, button, textarea {
    font: 99% arial,helvetica,clean,sans-serif;
}
table {
    font-size: inherit;
}
pre, code, kbd, samp, tt {
    font-family: monospace;
    line-height: 100%;
}
a {
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: blink;
}
strong {
    font-weight: bold;
}
input[type="submit"] {
    cursor: pointer;
}
button {
    cursor: pointer;
}
.clearfix{
    *zoom:1
}
.clearfix:after{
    content:"";clear:both;display:block;height:0;visibility:hidden;overflow:hidden;
}

/*global css*/
.posf{position:fixed;}

/*title*/
header{top:0;left:0;width:100%;height:44px;min-width:320px;background:#00a3ff;z-index:1000;padding:0 55px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
header h1{width:100%;height:44px;line-height:44px;text-align:center;font-size:18px;color:#fffeff;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.ico_back{position:absolute;top:0;left:0;display:block;width:54px;height:44px;}
.ico_back:before{content:"";position:absolute;width:12px;height:12px;left:50%;top:50%;margin-top:-7px;margin-left:-7px;border-left:2px solid #fff;border-top:2px solid #fff;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);}
/*日期插件*/
.Nheader{background:#00a3ff;}
.Nheader h1 {color:#fff;}
.ico_Nback{position:absolute;top:0;left:0;display:block;width:54px;height:44px;}
.ico_Nback:before{content: "";position: absolute;width: 12px;height: 12px;left: 50%;top: 50%;margin-top: -7px;margin-left: -7px;border-left: 2px solid #fff;border-top: 2px solid #fff;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);}

.dp_month {margin-top: 11px}
.dp_month h3 {height: 22px;line-height: 22px;text-align: center;font-size: 15px;}
.dp_week{height: 26px;line-height: 26px;border-bottom: 1px solid #ccc;}
.dp_week li {float: left; width: 14%;text-align: center;font-size: 12px;}
.dp_week li:nth-child(7n-6),.dp_week li:nth-child(7n) {width: 15%;color: #ff0700}

.dp_day li {float: left;width: 14%;text-align: center;font-size: 12px;height: 45px;line-height: 45px;font-size: 15px;color: #999;font-family: Arial}
.dp_day li.dp_preSale {color: #333}
.dp_day li:nth-child(7n-6),.dp_day li:nth-child(7n) {width: 15%;color: #ff0700}
.dp_day li.dp_today {color: #ff0700;font-family: "\5FAE\8F6F\96C5\9ED1"}
.dp_day li.dp_festival {color: #007bbb;font-family: "\5FAE\8F6F\96C5\9ED1"}
.dp_day li.dp_disabled {color: #999}
.dp_day li span {display: inline-block;vertical-align: middle;width: 35px;height: 35px;line-height: 35px;overflow: hidden}
.dp_day li.dp_current span {background: #05b07b;border-radius: 50%;color: #fff}

#pullDown, #pullUp {
    background:#fff;
    height:40px;
    line-height:40px;
    padding:5px 10px;
    border-bottom:1px solid #ccc;
    font-weight:bold;
    font-size:14px;
    color:#888;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
    display:block; float:left;
    width:40px; height:40px;
    -webkit-background-size:40px 80px; background-size:40px 80px;
    -webkit-transition-property:-webkit-transform;
    -webkit-transition-duration:250ms;
}
#pullDown .pullDownIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
    -webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
    -webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
    background-position:0 100%;
    -webkit-transform:rotate(0deg) translateZ(0);
    -webkit-transition-duration:0ms;

    -webkit-animation-name:loading;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}

.ovp{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.show {
  display: block;
}

.hidden {
  display: none;
  bottom: -100%;
}

.order-mask{
    position:fixed;
    width:100%;
    height:100%;
    bottom:51px;
    background:#000;
    opacity:0.5;
    z-index:990;
}
.v-mask{
    position:fixed;
    width:100%;
    height:100%;
    bottom:0;
    background:#000;
    opacity:0.5;
    z-index:990;
}
.pop_wrap{
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #000;
    opacity: 0.8;
    -webkit-transform:translate(-50%,-50%);
    z-index: 99999;
    border-radius: 10px;
}
.pop_wrap p{
    padding: 0 24px;
    line-height: 30px;
    color: #fff;
    font-size: 13px;
    text-align: center;
}
.pop_dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    width:80%;
    background-color: #fff;
    -webkit-transform:translate(-50%,-50%);
    z-index: 9999;
    border-radius: 10px;
    padding:20px;
}
.pop_dialog p{
    line-height: 30px;
    font-size:14px;
}
.pop_dialog .pop_title{
    text-align:center;
    padding-bottom:10px;
    font-size:15px;
    font-weight: bold;
}
.pop_dialog .pop_btn{
    width:60%;
    margin: 20px 20% 0;
    text-align:center;
    font-size:16px;
    color:#fff;
    background: #ff8400;
    border-radius: 5px;
    padding:10px;
}
.pop_dialog .pop_con{
    max-height: 300px;
    overflow: auto;
}
.pop_dialog .pop_con h2{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}
.pop_dialog .pop_con h2:first-child{
    margin-top: 0;
}
.alertPop_wrap{
    position: fixed;
    width: 280px;
    background-color: #fff;
    border-radius: 10px;
    left: 50%;
    margin-left: -140px;
    z-index: 9999;
    top: 50%;
    transform:translateY(-50%);
}
.alertPop_text{
    margin: 31px 36px;
    text-align: center;
    font-size: 15px;
}
.alertPop_footer{
    width: 100%;
    height: 48px;
    background-color: #fff;
    border-top: 1px solid #e9e9e9;
    padding-top: 2px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.popbtn{
    display: inline-block;
    width: 49%;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    color: #333;
}
.popSureBtn{
    color: #00a4ff;
}
.hide{
    display: none;

}
#app .color999{
    color: #999;
    font-weight: normal;
}
.width100{
    width: 100%;
}
div.mat10{
    margin-top: 10px;
}
.mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 2.08rem;
    background-color: #000;
    opacity: .5;
    filter: Alpha(opacity=50);
    z-index: 9998;
}
.cityList_mask{
  top: 0px;
}
.borR{
    border-right: 1px solid #e9e9e9;
}
/*媒体查询*/
html{font-size:20px;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
@media screen and (min-width: 320px){html{font-size:42.67px;}}
@media screen and (min-width: 360px){html{font-size:48px;}}
@media screen and (min-width: 375px){html{font-size:50px;}}
@media screen and (min-width: 414px){html{font-size:50px;}}